<ion-view title="Home Page" id="page1" style="background-color:#A9A9A9;">
  <ion-content padding="true" class="has-header">
    <form id="homePage-form7" class="list">
      <label class="item item-input" id="homePage-search1" name="searchBar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div>
      <img src="img/i0yeb8GJTYClCYb048Xg_ninja-sheep-logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <ion-list id="homePage-list3">
      <div class="item item-body" id="homePage-list-item-container1">
        <div id="homePage-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Mail</p>
        </div>
        <div class="spacer" style="height: 3px;"></div>
        <ion-list id="homePage-list4">
          <ion-item class="item-icon-left dark" id="homePage-list-item7">
            <i class="icon ion-compose"></i>Compose</ion-item>
          <ion-item class="item-icon-left" id="homePage-list-item10">
            <i class="icon ion-email"></i>Inbox</ion-item>
        </ion-list>
      </div>
      <ion-item class="item-icon-left dark" id="homePage-list-item8" href="web/viewer.html?file=CA_2016.pdf">
        <i class="icon ion-information-circled"></i>Read Collective Agreement</ion-item>
    </ion-list>
  </ion-content>
</ion-view>