<ion-view title="Login" id="page3">
    <ion-content padding="true" class="has-header">
        <form id="login-form6" name="loginForm" novalidate="" class="list" ng-submit="submit()">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input8" ng-class="{ 'has-errors' : loginForm.account.$invalid, 'no-errors' : loginForm.account.$valid}">
                    <span class="input-label">Personnel Number </span>
                    <input type="text" name="account" placeholder="" ng-model="data.account" ng-minlength="6" ng-maxlength="7" required>
                </label>

                <div class="error-container" ng-messages="loginForm.account.$error">
                    <div class="error" ng-show="loginForm.account.$error.required && loginForm.$submitted">
                        <i class="ion-information-circled"></i>
                        Personnel Number is required!
                    </div>
                    <div class="error" ng-show="loginForm.account.$error.minlength">
                        <i class="ion-information-circled"></i>
                        Personnel Number must be atleast 6 characters long!
                    </div>
                    <div class="error" ng-show="loginForm.account.$error.maxlength">
                        <i class="ion-information-circled"></i>
                        Personnel Number cannot be over 7 characters long!
                    </div>
                </div>

                <label class="item item-input" id="login-input9" ng-class="{ 'has-errors' : loginForm.password.$invalid, 'no-errors' : loginForm.password.$valid}">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" placeholder="" ng-model="data.password" ng-minlength="5" ng-maxlength="20" required>
                </label>

                <div class="error-container" ng-messages="loginForm.password.$error">
                    <div class="error" ng-show="loginForm.password.$error.required && loginForm.$submitted">
                        <i class="ion-information-circled"></i>
                        Password is required!
                    </div>
                    <div class="error" ng-show="loginForm.password.$error.minlength">
                        <i class="ion-information-circled"></i>
                        Password must be atleast 5 characters long!
                    </div>
                    <div class="error" ng-show="loginForm.password.$error.maxlength">
                        <i class="ion-information-circled"></i>
                        Password cannot be over 20 characters long!
                    </div>
                </div>

            </ion-list>
            <div class="spacer" style="height: 30px;"></div>
            <button id="login-button16" class="button button-dark  button-block" type="submit"ng-disabled="loginForm.$invalid">Log in</button>
            <!--<a ui-sref="homePage" id="login-button16" class="button button-dark  button-block" ng-click="tryLogin()">Log in</a>-->
            <a ui-sref="register" id="login-button17" class="button button-positive  button-block button-clear">Register </a>
        </form>
        <!-- For Debugging -->
        <div class="card">
            <div class="item item-text-wrap">
                Response: <b ng-bind="response"></b>
            </div>
        </div>
    </ion-content>
</ion-view>
