<ion-view title="Register" id="page2" name="register" style="background-color:#A9A9A9;">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="register-list-item-container3">
            <div id="register-markdown5" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">Credentials</p>
            </div>
            <form id="register-form8" class="list">
                <div class="spacer" style="height: 10px;"></div>
                <label class="item item-input" id="register-input1" name="firstname">
                    <input type="text" placeholder="First Name" required ng-model="data.fname">
                </label>
                <label class="item item-input" id="register-input4" name="lastname">
                    <input type="text" placeholder="Last Name" required ng-model="data.lname">
                </label>
                <label class="item item-input" id="register-input10" name="employeenumber">
                    <input type="text" placeholder="Employee Number" required ng-maxlength="7" ng-minlength="6" ng-model="data.personnelNum">
                </label>
                <label class="item item-input" id="register-input5" name="password">
                    <input type="text" placeholder="Password" required ng-model="data.password">
                </label>
                <label class="item item-input" id="register-input12">
                    <input type="tel" placeholder="Phone Number" required ng-pattern="regEx" ng-model="data.phoneNum">
                </label>
                <label class="item item-input" id="register-input13">
                    <input type="text" placeholder="Email" required ng-model="data.email">
                </label>
            </form>
        </div>
        <form id="register-form3" class="list" ng-submit="submit()">
            <div class="spacer" style="height: 15px;"></div>
            <label class="item item-select" id="register-select1" name="location">
                <span class="input-label">Location</span>
                <select ng-change="checkLocal()" ng-model="data.loc" ng-options="local.name for local in locations"></select>
            </label>
            <label class="item item-select" id="register-select2" name="depot">
                <span class="input-label">Depot</span>
                <select ng-model="data.depot">
                    <option ng-repeat="depot in depots| filter:{belong:data.loc.name }">{{depot.name}}</option>
                    
                </select>
            </label>
            <label class="item item-select" id="register-select3" name="position">
                <span class="input-label">Position</span>
                <select ng-init="data.position = 'Term'" ng-model="data.position">
                    <option ng-selected="true">Term</option>
                    <option>Shop Steward</option>
                    <option>LC</option>
                    <option>PO4</option>
                    <option>GL</option>
                </select>
            </label>
            <button id="register-button15" class="button button-dark button-large button-block" type="submit">Register</button>
            <div id="register-button-bar2" class="button-bar"></div>
        </form>
        <!-- For Debugging -->
        <div class="card">
            <div class="item item-text-wrap">
                Response: <b ng-bind="response"></b>
            </div>
        </div>
    </ion-content>
</ion-view>